@charset "UTF-8";
body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

/* FRONTEND SASS - DANIEL FABRICIO SOUSA
*********************************************/
/*  GRID  */
html, body {
  width: 100%;
  height: 100%; }

body {
  min-width: 100%;
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: 'Open Sans', sans-serif; }

.header, #main-section, #footer {
  width: 100%;
  display: inline-block; }

.section {
  width: 100%;
  display: inline-block; }

.full-size {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%; }

.display-none {
  display: none; }

.home {
  background: #fffeec;
  display: flex;
  -webkit-display: -webkit-box;
  -webkit-display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal; }
  .home .main {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    -webkit-flex-grow: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .home .main .bg-home {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
      background: url(../images/home-cover.png) no-repeat center center;
      background-size: contain;
      max-height: 820px; }
    @media only screen and (min-height: 1015px) {
      .home .main .bg-home {
        height: 820px;
        top: 50%;
        margin-top: -410px; } }

.header {
  background: #ffde00;
  width: 100%;
  height: 110px; }

.marca-header {
  display: inline-block;
  margin: 20px 0 0; }

.footer {
  width: 100%;
  height: 60px;
  text-align: right;
  font-size: 0.625em;
  padding: 15px 15px 0; }
  .footer p, .footer a {
    color: #696969;
    text-transform: uppercase; }

.page-full-height {
  display: flex;
  -webkit-display: -webkit-box;
  -webkit-display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  min-height: 100vh; }
  .page-full-height .container-full-height {
    position: relative;
    width: 100%;
    -webkit-flex-grow: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .page-full-height .container-full-height .main {
      height: 100%; }

.article {
  width: 100%; }
  .article .page-top {
    display: inline-block;
    width: 100%; }
    .article .page-top h1, .article .page-top h2, .article .page-top h3, .article .page-top h4, .article .page-top h5, .article .page-top h6 {
      display: inline-block; }
    .article .page-top .page-share {
      float: right; }
  .article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
    display: inline-block;
    width: 100%; }

.half-2 .article {
  max-width: 580px;
  padding: 0 40px 20px 40px; }
.half-2 .page-top {
  width: 100%;
  max-width: 580px;
  padding: 40px 40px 0 40px;
  display: inline-block; }
.half-2 .page-share {
  float: right;
  margin: 26px 0; }
.half-2 h1 {
  float: left; }

@media only screen and (min-width: 801px) {
  .half-screen {
    width: 50%;
    display: block; }
    .half-screen.half-1 {
      position: absolute;
      height: 100%;
      left: 0;
      bottom: -60px;
      padding-top: 60px;
      background-size: cover;
      background-repeat: no-repeat;
      box-sizing: content-box; }
    .half-screen.half-2 {
      float: right;
      height: 100%; } }
@media only screen and (max-width: 800px) {
  .half-screen {
    width: 100%; }
    .half-screen.half-1 {
      height: 250px;
      background-size: cover;
      background-repeat: no-repeat; }
    .half-screen.half-2 {
      float: left;
      width: 100%; }
      .half-screen.half-2 .article,
      .half-screen.half-2 .page-top {
        max-width: 100%; } }
.content-box {
  width: 100%;
  margin: 20px 0;
  padding: 30px 10px; }

.galeria-link {
  background: url(../images/botao-galeria.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 60px 10px; }

.galeria-nav,
.galeria-content {
  width: 100%;
  text-align: center; }

.galeria-nav {
  display: inline-block;
  margin: 30px 0 20px; }
  .galeria-nav li {
    display: inline-block;
    margin: 0 20px; }

@media only screen and (max-width: 600px) {
  .galeria-nav a, .galeria-nav li {
    width: 100%; }
  .galeria-nav a {
    margin: 0 0 5px; }
    .galeria-nav a.btn.tip:before {
      border: none; }
  .galeria-nav li {
    margin: 0; } }
.galeria-itens {
  display: flex;
  -webkit-display: -webkit-box;
  -webkit-display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-justify-content: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }
  .galeria-itens .galeria-item {
    width: 32.3%;
    float: left;
    display: inline-block;
    margin: 0.5%;
    min-width: 250px;
    overflow: hidden; }
    .galeria-itens .galeria-item img {
      -webkit-transition: transform 0.35s ease;
      -moz-transition: transform 0.35s ease;
      -ms-transition: transform 0.35s ease;
      -o-transition: transform 0.35s ease;
      transition: transform 0.35s ease; }
    .galeria-itens .galeria-item:hover img {
      -webkit-transform: scale(1.12);
      -moz-transform: scale(1.12);
      -ms-transform: scale(1.12);
      -o-transform: scale(1.12);
      transform: scale(1.12); }

.galeria-inner .galery-main-bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
  filter: alpha(opacity=20); }
.galeria-inner .galery-main {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 30px; }
  .galeria-inner .galery-main .container {
    z-index: 20; }
.galeria-inner .content {
  margin-bottom: 40px; }

.with-sidebar .banner-full {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%;
  margin-top: 20px; }
@media only screen and (min-width: 300px) {
  .with-sidebar .main, .with-sidebar .sidebar {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
    margin-top: 40px; } }
@media only screen and (min-width: 900px) {
  .with-sidebar .main {
    display: inline;
    float: left;
    width: 64.58333%;
    margin: 0 1.04167%;
    margin-top: 40px; }
  .with-sidebar .sidebar {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04167%;
    margin-top: 40px; } }
@media only screen and (min-width: 1200px) {
  .with-sidebar .main {
    display: inline;
    float: left;
    width: 64.58333%;
    margin: 0 1.04167%;
    margin-right: 9.375%;
    margin-top: 40px; }
  .with-sidebar .sidebar {
    display: inline;
    float: left;
    width: 22.91667%;
    margin: 0 1.04167%;
    margin-top: 40px; } }
.with-sidebar .post-item {
  width: 100%;
  margin-bottom: 40px; }
  .with-sidebar .post-item:last-child {
    margin-bottom: 0; }
  .with-sidebar .post-item .item-top,
  .with-sidebar .post-item .item-content,
  .with-sidebar .post-item .item-footer {
    padding: 0 0 20px;
    width: 100%;
    display: inline-block; }
  .with-sidebar .post-item .item-footer {
    border-bottom: 1px solid #000; }
  .with-sidebar .post-item h1 {
    margin: 0;
    float: left; }
  .with-sidebar .post-item .share-links {
    float: right; }
  .with-sidebar .post-item .item-thumb {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px; }

.block {
  width: 100%;
  display: inline-block;
  margin: 0 0 40px; }
  .block h4 {
    text-transform: uppercase;
    margin-bottom: 20px; }
    .block h4:before {
      line-height: 1.4em;
      font-size: 1.375em;
      width: 27px;
      height: 27px;
      color: #000;
      margin: -9px 10px 0 0;
      float: left; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?8ivsuv");
  src: url("../fonts/icomoon.eot?8ivsuv#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?8ivsuv") format("truetype"), url("../fonts/icomoon.woff?8ivsuv") format("woff"), url("../fonts/icomoon.svg?8ivsuv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */ }
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.icon-share:before {
  content: "\e916"; }

.icon-facebook:before {
  content: "\e900"; }

.icon-instagram:before {
  content: "\e901"; }

.icon-twitter:before {
  content: "\e902"; }

.icon-google-plus:before {
  content: "\e903"; }

.icon-youtube:before {
  content: "\e904"; }

.icon-snapchat:before {
  content: "\e905"; }

.icon-pinterest:before {
  content: "\e906"; }

.icon-behance:before {
  content: "\e907"; }

.icon-whatsapp:before {
  content: "\e908"; }

.icon-soundcloud:before {
  content: "\e909"; }

.icon-tumblr:before {
  content: "\e90a"; }

.icon-rss:before {
  content: "\e90b"; }

.icon-vimeo:before {
  content: "\e90c"; }

.icon-dribbble:before {
  content: "\e90d"; }

.icon-flickr:before {
  content: "\e90e"; }

.icon-skype:before {
  content: "\e90f"; }

.icon-vine:before {
  content: "\e910"; }

.icon-deviantart:before {
  content: "\e911"; }

.icon-calendario:before {
  content: "\e912"; }

.icon-menu:before {
  content: "\e913"; }

.icon-search:before {
  content: "\e914"; }

.icon-tags:before {
  content: "\e915"; }

/* FRONTEND SASS - DANIEL FABRICIO SOUSA
*********************************************/
/* BOT├òES */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; }
  h1 span, .h1 span, h2 span, .h2 span, h3 span, .h3 span, h4 span, .h4 span, h5 span, .h5 span {
    font: inherit;
    color: inherit; }
  h1 strong, .h1 strong, h2 strong, .h2 strong, h3 strong, .h3 strong, h4 strong, .h4 strong, h5 strong, .h5 strong {
    font: inherit;
    color: inherit;
    font-weight: 600; }

h1, .h1 {
  font-size: 1.625em;
  margin: 20px 0; }

h2, .h2 {
  font-size: 1.5em;
  margin: 20px 0; }

h3, .h3 {
  font-size: 1.375em;
  margin: 20px 0; }

h4, .h4 {
  font-size: 1.25em;
  margin: 20px 0; }

h5, .h5 {
  font-size: 1.125em;
  margin: 20px 0; }

h6, .h6 {
  font-size: 1em;
  margin: 20px 0; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #000; }
  p strong {
    font-weight: 600; }
  p del {
    text-decoration: line-through; }

.main-menu {
  display: inline-block;
  vertical-align: top;
  margin: 23px 40px; }
  .main-menu ul {
    margin: 20px 0;
    z-index: 90; }
    .main-menu ul li {
      display: inline;
      margin: 0 10px; }
      .main-menu ul li a {
        font-family: 'Lobster', sans-serif;
        color: #000;
        font-size: 1.25em;
        padding: 10px 15px;
        -webkit-transition: border-bottom 0.1s ease;
        -moz-transition: border-bottom 0.1s ease;
        -ms-transition: border-bottom 0.1s ease;
        -o-transition: border-bottom 0.1s ease;
        transition: border-bottom 0.1s ease; }
        .main-menu ul li a:hover {
          border-bottom: 3px solid #000; }
      .main-menu ul li.current a {
        border-bottom: 3px solid #000; }

@media only screen and (max-width: 890px) {
  .main-menu {
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0 0 23px 0;
    margin: 23px 0 0 60px; }
    .main-menu ul {
      -webkit-transition: width 0.3s ease;
      -moz-transition: width 0.3s ease;
      -ms-transition: width 0.3s ease;
      -o-transition: width 0.3s ease;
      transition: width 0.3s ease;
      position: absolute;
      left: -2.5%;
      top: 110px;
      margin: 0;
      width: 0;
      overflow: hidden;
      background: #ffd200; }
      .main-menu ul li {
        width: 100%;
        margin: 0;
        text-align: center;
        border-bottom: 1px solid #000;
        display: inline-block; }
        .main-menu ul li.current, .main-menu ul li:hover {
          background: #ffc000; }
          .main-menu ul li.current a, .main-menu ul li:hover a {
            border: none; }
        .main-menu ul li a {
          width: 100%;
          padding: 20px;
          display: inline-block; }
      .main-menu ul li:last-child {
        border: none; }
    .main-menu:before {
      content: "\e913";
      display: block;
      color: #000;
      font-size: 2em;
      font-family: 'icomoon';
      margin: 16px 0;
      cursor: point; }
    .main-menu:hover ul {
      width: 105%; } }
.redes-top {
  float: right;
  margin: 35px 0; }
  .redes-top .share {
    display: none; }
  .redes-top li {
    display: inline-block;
    margin: 0 2px;
    float: left; }
    .redes-top li a {
      color: #000;
      font-size: 2.3em;
      display: inline-block;
      -webkit-transition: margin-top 0.1s linear;
      -moz-transition: margin-top 0.1s linear;
      -ms-transition: margin-top 0.1s linear;
      -o-transition: margin-top 0.1s linear;
      transition: margin-top 0.1s linear; }
      .redes-top li a:hover {
        margin-top: -3px; }

@media only screen and (max-width: 1100px) {
  .redes-top {
    position: relative;
    height: 60px;
    margin-bottom: 0; }
    .redes-top:before {
      content: "\e916";
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #000;
      font-size: 2.6em; }
    .redes-top ul {
      position: absolute;
      z-index: 10;
      background: #ffd200;
      overflow: hidden;
      right: -10px;
      top: 55px;
      -webkit-transition: height 0.3s ease;
      -moz-transition: height 0.3s ease;
      -ms-transition: height 0.3s ease;
      -o-transition: height 0.3s ease;
      transition: height 0.3s ease;
      height: 0; }
      .redes-top ul li {
        padding: 0 10px; }
        .redes-top ul li:first-child {
          padding-top: 10px; }
        .redes-top ul li:last-child {
          padding-bottom: 10px; }
    .redes-top:hover ul {
      height: 300px; }
    .redes-top:hover:after {
      content: '';
      display: block;
      position: absolute;
      top: 45px;
      left: 50%;
      margin: 0 0 0 -10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #ffd200;
      float: left; } }
.paginate {
  width: 100%;
  margin: 40px 0;
  text-align: center; }
  .paginate li {
    display: inline-block; }
  .paginate a, .paginate span {
    padding: 10px;
    height: 38px;
    text-align: center;
    display: inline-block;
    line-height: 0.6em;
    font-size: 1.5em;
    margin: 1px;
    color: #000; }
    .paginate a.active, .paginate a:hover, .paginate span.active, .paginate span:hover {
      border: 1px solid #000;
      margin: 0; }

.btn, form .form-submit input {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease; }
  .btn.txt-pre, form .form-submit input {
    text-transform: none; }
  .btn.ghost, form .form-submit input.ghost {
    border: 1px solid; }
    .btn.ghost.black, form .form-submit input.ghost.black {
      color: #000;
      border-color: #000; }
    .btn.ghost.white, form .form-submit input.ghost.white {
      color: #fff;
      border-color: #fff; }
    .btn.ghost.bigger, form .form-submit input.ghost.bigger {
      border: 3px solid; }
  .btn.bigger, form .form-submit input.bigger {
    font-size: 1.625em;
    padding: 20px 30px; }
  .btn.big, form .form-submit input {
    font-size: 1.5em;
    padding: 20px 20px; }
  .btn.small, form .form-submit input.small {
    font-size: 1.125em;
    padding: 15px; }
  .btn.grey, form .form-submit input {
    background: #c5c5c5;
    color: #fff; }
    .btn.grey:hover, form .form-submit input:hover, .btn.grey.active, form .form-submit input.active {
      background: #545454; }
  .btn.dark-grey, form .form-submit input.dark-grey {
    background: #424242;
    color: #fff; }
    .btn.dark-grey:hover, form .form-submit input.dark-grey:hover, .btn.dark-grey.active, form .form-submit input.dark-grey.active {
      background: #262626; }
  .btn.blue, form .form-submit input.blue {
    background: #00d2ff;
    color: #fff; }
    .btn.blue:hover, form .form-submit input.blue:hover, .btn.blue.active, form .form-submit input.blue.active {
      background: #0a8da9; }
  .btn.tip, form .form-submit input.tip {
    position: relative; }
    .btn.tip:before, form .form-submit input.tip:before {
      bottom: 0;
      content: '';
      display: block;
      -webkit-transition: bottom 0.3s ease;
      -moz-transition: bottom 0.3s ease;
      -ms-transition: bottom 0.3s ease;
      -o-transition: bottom 0.3s ease;
      transition: bottom 0.3s ease;
      -webkit-transition-delay: 0.2s;
      /* Safari */
      transition-delay: 0.2s;
      z-index: -10; }
    .btn.tip.active:before, form .form-submit input.tip.active:before, .btn.tip:hover:before, form .form-submit input.tip:hover:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid;
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin-right: -5px;
      float: left;
      margin-left: -10px; }
    .btn.tip.grey.active:before, form .form-submit input.tip.active:before, .btn.tip.grey:hover:before, form .form-submit input.tip:hover:before {
      border-top-color: #545454; }
    .btn.tip.blue.active:before, form .form-submit input.tip.blue.active:before, .btn.tip.blue:hover:before, form .form-submit input.tip.blue:hover:before {
      border-top-color: #0a8da9; }

/* FORMS */
.form {
  width: 100%;
  display: inline-block;
  margin: 20px 0; }

form {
  width: 100%; }
  form .form-item {
    width: 100%;
    display: inline-block;
    margin: 10px 0;
    display: flex;
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap; }
    form .form-item input, form .form-item textarea {
      display: inline-block;
      width: 100%;
      font-size: 1em;
      height: 40px;
      padding: 10px;
      margin-left: 10px;
      border: 2px solid #c2c2c2;
      color: #000;
      box-sizing: border-box; }
      form .form-item input:first-child, form .form-item textarea:first-child {
        margin: 0; }
    form .form-item textarea {
      height: 190px; }
  form .form-submit {
    display: inline-block;
    margin: 15px 0; }
    form .form-submit input {
      border: none;
      cursor: pointer; }

.search {
  width: 100%; }
  .search form {
    display: flex;
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    width: 100%; }
  .search input {
    display: inline-block;
    width: 100%;
    font-size: 1em;
    height: 40px;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #c2c2c2;
    color: #000;
    box-sizing: border-box;
    -webkit-flex-grow: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .search button {
    padding: 8px;
    font-size: 1em; }
    .search button:before {
      content: "\e914";
      font-size: 1.5em; }

.tags {
  float: left; }
  .tags:before {
    line-height: 1.4em;
    font-size: 1.5em;
    width: 25px;
    height: 27px;
    color: #000;
    margin-right: 10px;
    float: left; }
  .tags a {
    color: #000;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px 5px 0 0;
    display: inline-block; }
    .tags a:after {
      content: ","; }
    .tags a:last-child:after {
      content: ""; }

.tags-list a {
  display: inline-block;
  margin: 2px;
  float: left;
  padding: 7px;
  font-size: 0.8125em;
  font-weight: 700;
  color: #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #000;
  -webkit-transition: background 0.15s ease;
  -moz-transition: background 0.15s ease;
  -ms-transition: background 0.15s ease;
  -o-transition: background 0.15s ease;
  transition: background 0.15s ease;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  -ms-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease; }
  .tags-list a:hover {
    background: #000;
    color: #fff; }

.post-data {
  float: right;
  font-size: 1em;
  color: #000;
  height: 32px;
  padding: 8px 0; }
  .post-data:before {
    line-height: 1.4em;
    font-size: 1.625em;
    width: 25px;
    height: 32px;
    color: #000;
    margin: -8px 10px 0 0;
    float: left; }

/* 
-----------------------------------------------------------------------------
Arquivo contendo os tamanhos dos elementos com querys para tamanhos de tela.
-----------------------------------------------------------------------------
*/
/* Tamanho de conte├║do */
.container-full-width {
  width: 95%;
  display: list-item;
  margin: 0 2.5%;
  position: relative; }

@media only screen and (max-width: 1199px) {
  .container {
    width: 95%;
    display: list-item;
    margin: 0 2.5%;
    position: relative; } }
@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    display: list-item;
    margin: 0 auto;
    position: relative; } }
/* iPhone */
@media only screen and (min-width: 300px) {
  .side-image,
  .galery-content {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%; }

  .side-image {
    padding: 20px 0 0; }

  .galery-content {
    padding: 0 0 20px; } }
/* iPad */
@media only screen and (min-width: 768px) {
  .side-image,
  .galery-content {
    display: inline;
    float: left;
    width: 47.91667%;
    margin: 0 1.04167%;
    padding: 40px 0; } }
/* Monitores menores */
/* Full */

/*# sourceMappingURL=style.css.map */
