/* FRONTEND SASS - DANIEL FABRICIO SOUSA
*********************************************/

/*  GRID  */
$column-width: 60;
$gutter-width: 20;
$columns: 12;
$total-width: 100%;


html, body{
	width: 100%; 
	height: 100%;
}

body{
	min-width:100%;
	padding:0;
	margin:0;
	background: #fff;
	font-family:'Open Sans', sans-serif;
}

//  HEADER E SECTIONS
.header, #main-section, #footer{
	width: 100%;
	display: inline-block;
}

.section{
	width: 100%;
	display: inline-block;
}

.full-size{@include column(12);}

.display-none{display: none;}


// ELEMENTOS DA ESTRUTURA

// EXCLUSIVO DA HOME
.home{
	background:#fffeec;
	@include displayflex;
	@include alignstretch;
	@include directioncolumn;
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;

	.main{
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 1;
		overflow: hidden;
		@include flexgrow(1);

		.bg-home{
			position: absolute;
		    width: 100%;
		    height: 100%;
		    z-index: 10;
		    background-size: contain;
		    max-height: 820px;
		    background-repeat: no-repeat;
		    background-position: center center;
		}

		@media only screen and (min-height : 1015px){
			.bg-home{
				height: 820px;
				top:50%;
				margin-top:-410px;
			}
		}
	}
}

// HEADER
.header{
	background: $main-color;
	width: 100%;
	height: 110px;
}
//  MARCA TOPO
.marca-header{
	display:inline-block;
	margin: 20px 0 0;
}

// FOOTER
.footer{
	width:100%;
	height: 60px;
	text-align: right;
	font-size: #{10/$b-font-size}em;
	padding:15px 15px 0;

	p, a{
		color:#696969;
		text-transform: uppercase;
	}
}

// PAGINA COM MAIN FULL HEIGHT
.page-full-height{
	@include displayflex;
	@include alignstretch;
	@include directioncolumn;

	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    min-height: 100vh;

	.container-full-height{
	    position:relative;
	    width: 100%;

	    @include flexgrow(1);

	    .main{height:100%;}
	}
}

// ESTILOS GERAIS
.article{
	width:100%;

	.page-top{
		display: inline-block;
		width: 100%;

		h1, h2, h3, h4, h5, h6{
			display: inline-block;
		}

		.page-share{
			float: right;
		}
	}

	h1, h2, h3, h4, h5, h6{
		display: inline-block;
		width: 100%;
	}

}

// PÁGINA DIVIDIDA - PAGE-HALF
.half-2{
	.article{
		max-width: 580px;
		padding: 0 40px 20px 40px;
	}

	.page-top{
		width: 100%;
		max-width: 580px;
		padding: 40px 40px 0 40px;
		display: inline-block;
	}

	.page-share{
		float: right;
    	margin: 26px 0;
	}

	h1{float:left;}
}

@media only screen and (min-width : 801px) {
	.half-screen{
		width:50%;
		display: block;

		&.half-1{
			position: absolute;
		    height: 100%;
		    left: 0;
		    bottom: -60px;
		    padding-top: 60px;
		    background-size: cover;
		    background-repeat: no-repeat;
		    box-sizing: content-box;
		}

		&.half-2{
			float: right;
			height: 100%;
		}
	}
}

@media only screen and (max-width : 800px) {
    .half-screen{
    	width: 100%;

    	&.half-1{
			height: 250px;
			background-size: cover;
			background-repeat: no-repeat;
		}

		&.half-2{
			float: left;
			width: 100%;

			.article,
			.page-top{max-width: 100%;}
		}
    }
}

// CONTENT-BOX: um box de conteúde dentro de um ARTICLE
.content-box{
	width:100%;
	margin: 20px 0;
	padding: 30px 10px;
}

// PÁGINA SOBRE
.galeria-link{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align:center;
	padding: 60px 10px;
}

// PÁGINA GALERIA
.galeria-nav,
.galeria-content{
	width:100%;
	text-align: center;
}

.galeria-nav{
	display: inline-block;
	margin: 30px 0 20px;

	li{
		display: inline-block;
		margin: 0 20px;
	}
}
@media only screen and (max-width : 600px) {
	.galeria-nav{
		a, li{width:100%;}
		a{
			margin:0 0 5px;
			&.btn.tip:before{border:none;}
		}
		li{margin:0;}
	}
}

.galeria-itens{
	    @include displayflex;
	    @include justifycenter;
	    @include flexwrap;

	.galeria-item{
		width: 32.3%;
	    float: left;
	    display: inline-block;
	    margin: 0.5%;
	    min-width: 250px;
	    overflow:hidden;

	    img{
	    	@include transition(transform, 0.35s, ease);
	    	width: 100%;
	    }

	    &:hover{
	    	img{
	    		@include scale($scale: 1.12);
	    	}
	    }
	}
}

// GALERIA INTERNA
.single-galerias{

	.galery-main-bg{
		position:absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-size:cover;
		background-repeat:no-repeat;
		opacity: 0.2;
    	filter: alpha(opacity=20);
	}

	.galery-main{
		position:relative;
	    display: inline-block;
	    width: 100%;
	    margin-bottom: 5px;
	    margin-top: 30px;

		.container{
			z-index: 20;
		}
	}

	.content{
		margin-bottom: 40px;
	}
}

// PAGE COM SIDEBAR (BLOG)
.with-sidebar{

	.banner-full{
		@include column(12);
		margin-top:20px;
	}

	@media only screen and (min-width : 300px){
		.main, .sidebar{
			@include column(12);
			margin-top: 40px;
		}
	}

	@media only screen and (min-width : 900px){
		.main{
			@include column(8);
			margin-top: 40px;
		}

		.sidebar{
			@include column(4);
			margin-top: 40px;
		}
	}

	@media only screen and (min-width : 1200px){
		.main{
			@include column(8);
			@include pull(1);
			margin-top: 40px;
		}

		.sidebar{
			@include column(3);
			margin-top: 40px;
		}
	}

	.post-item{
		width: 100%;
		margin-bottom: 40px;

		&:last-child{margin-bottom:0;}

		.item-top,
		.item-content,
		.item-footer{
			padding:0 0 20px;
			width: 100%;
			display: inline-block;
		}

		.item-footer{
			border-bottom: 1px solid #000;
		}

		h1{
			margin: 0;
			float: left;
		}

		.share-links{
			float: right;
		}

		.item-thumb{
			width: 100%;
			display: inline-block;
			margin-bottom:20px;
		}
	}
}

// BLOCKS GERAL
.block{
	width:100%;
	display: inline-block;
	margin: 0 0 40px;

	&:before{
		line-height: 1.4em;
		font-size: 1.8em;
		width: 27px;
		height: 27px;
		color: #000;
		margin: -2px 10px 0 0;
		float: left;
	}

	h4, h3{
		text-transform: uppercase;
		margin:0 0 20px 0;
		display: inline-block;
	}
}

// SINGLE PAGE POST
.type-post{
	h1{
		margin: 0 0 20px;
	}

	.comments.block{
		margin: 30px 0;
	    padding: 30px 0 0;
	    border-top: 1px solid #ccc;
	}
}
.post-content{
	width: 100%;
	margin: 30px 0;
}