@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?8ivsuv');
    src:    url('../fonts/icomoon.eot?8ivsuv#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?8ivsuv') format('truetype'),
        url('../fonts/icomoon.woff?8ivsuv') format('woff'),
        url('../fonts/icomoon.svg?8ivsuv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    &:before{
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}


.icon-share:before {
    content: "\e916";
}
.icon-facebook:before {
    content: "\e900";
}
.icon-instagram:before {
    content: "\e901";
}
.icon-twitter:before {
    content: "\e902";
}
.icon-google-plus:before {
    content: "\e903";
}
.icon-youtube:before {
    content: "\e904";
}
.icon-snapchat:before {
    content: "\e905";
}
.icon-pinterest:before {
    content: "\e906";
}
.icon-behance:before {
    content: "\e907";
}
.icon-whatsapp:before {
    content: "\e908";
}
.icon-soundcloud:before {
    content: "\e909";
}
.icon-tumblr:before {
    content: "\e90a";
}
.icon-rss:before {
    content: "\e90b";
}
.icon-vimeo:before {
    content: "\e90c";
}
.icon-dribbble:before {
    content: "\e90d";
}
.icon-flickr:before {
    content: "\e90e";
}
.icon-skype:before {
    content: "\e90f";
}
.icon-vine:before {
    content: "\e910";
}
.icon-deviantart:before {
    content: "\e911";
}
.icon-calendario:before {
    content: "\e912";
}
.icon-menu:before {
    content: "\e913";
}
.icon-search:before {
    content: "\e914";
}
.icon-tags:before {
    content: "\e915";
}

