/* 
-----------------------------------------------------------------------------
Arquivo contendo os tamanhos dos elementos com querys para tamanhos de tela.
-----------------------------------------------------------------------------
*/


/* Tamanho de conteúdo */
@mixin center{
	width: 1200px;
	display: list-item;
	margin: 0 auto;
	position: relative;
}

@mixin responsive{
	width: 95%;
	display: list-item;
	margin: 0 2.5%;
	position: relative;
}

// CONTAINER Width 100%
.container-full-width{@include responsive;}

@media only screen and (max-width : 1199px) {
    .container{@include responsive;}
}

@media only screen and (min-width : 1200px) {
    .container{@include center;}
}



/* iPhone */
@media only screen and (min-width : 300px) {
	.side-image,
	.galery-content{
		@include column(12);
	}
	.side-image{padding: 20px 0 0;}
	.galery-content{padding: 0 0 20px;}
}

/* iPad */
@media only screen and (min-width : 768px) {

	.side-image,
	.galery-content{
		@include column(6);
		padding:40px 0;
	}

}

/* Monitores menores */
@media only screen and (min-width : 940px) {

}

/* Full */
@media only screen and (min-width : 1200px) {

}
