/* FRONTEND SASS - DANIEL FABRICIO SOUSA
*********************************************/

// TÍTULOS E PARÁGRAFOS
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5{

	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;

	span{
		font: inherit;
		color: inherit;
	}
	strong{
		font: inherit;
		color: inherit;
		font-weight:600;
	}
}

h1, .h1{font-size: #{26/$b-font-size}em; margin: 20px 0;}
h2, .h2{font-size: #{24/$b-font-size}em; margin: 20px 0;}
h3, .h3{font-size: #{22/$b-font-size}em; margin: 20px 0;}
h4, .h4{font-size: #{20/$b-font-size}em; margin: 20px 0;}
h5, .h5{font-size: #{18/$b-font-size}em; margin: 20px 0;}
h6, .h6{font-size: #{16/$b-font-size}em; margin: 20px 0;}

p{
	font-family:'Open Sans', sans-serif;
	font-size:1em; color:#000;

	strong{font-weight:600;}
	del{text-decoration: line-through;}
}

a{
	color:#04c6de;
}


//  MENU PRINCIPAL
.main-menu{
	display: inline-block;
	vertical-align: top;
    margin: 23px 40px;

	ul{
		margin: 20px 0;
		z-index: 90;

		li{
			display: inline;
			margin: 0 10px;

			a{
				font-family: 'Lobster', sans-serif;
				color: #000;
				font-size: #{20/$b-font-size}em;
				padding: 10px 15px;
				@include transition(border-bottom, 0.1s, ease);

				&:hover{border-bottom: 3px solid #000;}
			}

			&.current_page_item a{border-bottom: 3px solid #000;}
		}
	}
}

// MENU MOBILE
@media only screen and (max-width : 890px) {
	.main-menu{

	    /* Better Font Rendering =========== */
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    margin: 0;
	    padding:0 0 23px 0;
	    margin: 23px 0 0 60px;

		ul{
			@include transition(width, 0.3s, ease);
			position: absolute;
		    left: -2.5%;
		    top: 110px;
		    margin: 0;
			width: 0;
			overflow:hidden;
			background: $main-sec-color;

		    li{
		    	width: 100%;
		    	margin: 0;
		    	text-align: center;
		    	border-bottom:1px solid #000;
		    	display: inline-block;

				&.current_page_item,
				&:hover{
					background: $main-dark-color;
					a{border:none;}
				}

				a{
					width: 100%;
					padding: 20px;
					display: inline-block;
				}
		    }
		    li:last-child{
		    	border:none;
		    }
		}
		
		&:before{
			content: "\e913";
			display: block;
			color: #000;
			font-size:2em;
			font-family: 'icomoon';
			margin: 16px 0;
			cursor: point;
		}

		&:hover{
			ul{width:105%;}
		}
	}
}


// MENU REDES SOCIAIS
.redes-top{
	a:before{
		font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
	}

	.menu-facebook a{@extend.icon-facebook;}
	.menu-twitter a{@extend.icon-twitter;}
	.menu-instagram a{@extend.icon-instagram;}
	.menu-google-plus a{@extend.icon-google-plus;}
	.menu-youtube a{@extend.icon-youtube;}
	.menu-snapchat a{@extend.icon-snapchat;}
	.menu-pinterest a{@extend.icon-pinterest;}
	.menu-behance a{@extend.icon-behance;}
	.menu-whatsapp a{@extend.icon-whatsapp;}
	.menu-soundcloud a{@extend.icon-soundcloud;}
	.menu-tumblr a{@extend.icon-tumblr;}
	.menu-dribbble a{@extend.icon-dribbble;}
	.menu-vimeo a{@extend.icon-vimeo;}
	.menu-flickr a{@extend.icon-flickr;}
	.menu-skype a{@extend.icon-skype;}
	.menu-vine a{@extend.icon-vine;}
	.menu-deviantart a{@extend.icon-deviantart;}
}


// MENU DA GALERIA
.galeria-nav{
	a{
		@extend.btn;
		@extend.txt-pre;
		@extend.big;
		@extend.grey;
		@extend.tip;
	}

	.current-menu-item{
		a{@extend.active;}
	}
}


// REDES SOCIAIS TOPO
.redes-top{
	float: right;
	margin: 35px 0;

	.share{
		display: none;
	}

	li{
		display: inline-block;
		margin: 0 2px;
		float: left;

		a{
			color: #000;
			font-size: 2.3em;
			display: inline-block;
			position:relative;
			width: 38px;
			height: 38px;
			overflow: hidden;
			text-indent: -1000px;
			@include transition(margin-top, 0.1s, linear);
			
			&:hover{margin-top:-3px;}
			&:before{
				position: absolute;
				left: 0;
				top: 0;
				text-indent: 0;
			}
		}
	}
}

// REDES SOCIAIS TOPO MOBILE
@media only screen and (max-width : 1100px){
	.redes-top{
		position: relative;
		height: 60px;
		margin-bottom: 0;

		&:before{
			content: "\e916";
			font-family: 'icomoon' !important;
	        speak: none;
	        font-style: normal;
	        font-weight: normal;
	        font-variant: normal;
	        text-transform: none;
	        line-height: 1;

	        /* Better Font Rendering =========== */
	        -webkit-font-smoothing: antialiased;
	        -moz-osx-font-smoothing: grayscale;

	        color:#000;
	        font-size: 2.6em;
		}
		
		ul{
			// display: none;
			position: absolute;
		    z-index: 10;
		    background: $main-sec-color;
		    overflow: hidden;
		    right: -10px;
		    top: 55px;
		    @include transition(height, 0.3s, ease);
		    height: 0;

		    li{
		    	padding: 0 10px;
		    	&:first-child{padding-top: 10px;}
		    	&:last-child{padding-bottom: 10px;}
		    }
		}

		&:hover{
			ul{
				height: 300px;
			}

			&:after{
				content: '';
			    display: block;
			    position: absolute;
			    top: 45px;
			    left: 50%;
			    margin: 0 0 0 -10px;
			    width: 0;
			    height: 0;
			    border-left: 10px solid transparent;
			    border-right: 10px solid transparent;
			    border-bottom: 10px solid $main-sec-color;
			    float: left;
			}
		}
	}
}


// PAGINAÇÃO
.paginate{
	width: 100%;
	margin: 40px 0;
	text-align: center;

	li{
		display: inline-block;
	}

	a, span{
		padding: 10px;
        height: 38px;
	    text-align: center;
	    display: inline-block;
	    line-height: 0.6em;
		font-size: #{24/$b-font-size}em;
		margin: 1px;
		color: #000;

		&.active,
		&.current,
		&:hover{
			border:1px solid #000;
			margin: 0;
		}
	}
}



// BOTÕES
.btn{
	display: inline-block;
	text-align:center;
	text-transform: uppercase;
	font-weight:700;
	@include transition (background, 0.3s, ease);

	&.txt-pre{text-transform: none;}

	&.ghost{
		border:1px solid;

		&.black{color: #000; border-color: #000;}
		&.white{color: #fff; border-color: #fff;}
		&.bigger{border:3px solid;}
	}

	&.bigger{
		font-size: #{26/$b-font-size}em;
		padding: 20px 30px;
	}
	&.big{
		font-size: #{24/$b-font-size}em;
		padding: 20px 20px;
	}
	&.small{
		font-size: #{18/$b-font-size}em;
		padding: 15px;
	}

	&.grey{
		background: $grey;
		color: #fff;

		&:hover,
		&.active{background:$grey-hover;}
	}

	&.dark-grey{
		background: $dark-grey;
		color: #fff;

		&:hover,
		&.active{background:$dark-grey-hover;}
	}

	&.blue{
		background: $blue;
		color: #fff;

		&:hover,
		&.active{background:$blue-hover;}
	}

	// BOTÃO ESTILO BALÃO
	&.tip{
		position:relative;

		&:before{
			
    		bottom: 0;
    		content:'';
    		display: block;
    		@include transition (bottom, 0.3s, ease);
    		-webkit-transition-delay: 0.2s; /* Safari */
			transition-delay: 0.2s;
			z-index: -10;
		}

		&.active:before,
		&:hover:before{
			content: '';
		    display: block;
		    width: 0;
		    height: 0;
		    border-left: 10px solid transparent;
		    border-right: 10px solid transparent;
		    border-top: 10px solid;
		    position: absolute;
		    bottom: -10px;
		    left: 50%;
		    margin-right: -5px;
		    float: left;
		    margin-left: -10px;
		}

		&.grey{
			&.active:before,
			&:hover:before{border-top-color:$grey-hover;}
		}
		&.blue{
			&.active:before,
			&:hover:before{border-top-color:$blue-hover;}
		}
	}
}


/* FORMS */
.form, .ninja-forms-cont{
	width:100%;
	display: inline-block;
	margin: 20px 0;
}

form{
	width: 100%;
	
	.form-item, .field-wrap{
		width: 100%;
		display: inline-block;
		margin: 10px 0;
		@include displayflex;
		@include flexnowrap;

		input, textarea{
			display: inline-block;
			width: 93%;
			font-size: 1em;
			font-family: inherit;
			height: 40px;
			padding: 10px;
			margin-left: 10px;
			border: 2px solid #c2c2c2;
			color: #000;
			box-sizing: border-box;

			&:first-child{margin:0;}
		}
		textarea{height:190px;}
	}

	.form-submit, .field-wrap.submit-wrap{
		display: inline-block;
		margin: 15px 0;

		input{
			border: none;
			cursor: pointer;
			width: auto;
			height: auto;
			padding: 20px 30px;
			@extend .btn;
			@extend .big;
			@extend .grey;
			@extend .txt-pre;
		}
	}
}

// FORM DE BUSCA
.search{
	width:100%;
	
	form{
		@include displayflex;
		@include flexnowrap;
		width: 100%;
	}

	input{
		display: inline-block;
		width: 100%;
		font-size: 1em;
		height: 40px;
		padding: 10px;
		margin-right: 10px;
		border: 2px solid #c2c2c2;
		color: #000;
		box-sizing: border-box;
		@include flexgrow(1);
	}

	button{
		padding:8px;
		font-size: 1em;

		&:before{
			content: "\e914";
    		font-size: 1.5em;
		}
	}
}

// TAGS RELACIONADAS NO POST
.tags{
	float: left;

	&:before{
	    line-height: 1.4em;
		font-size: #{24/$b-font-size}em;;
		width: 25px;
		height: 27px;
		color: #000;
		margin-right: 10px;
		float: left;
	}

	a{
		color: #000;
		font-size: #{16/$b-font-size}em;
		text-transform: uppercase;
		font-weight: 700;
		margin:10px 5px 0 0;
		display: inline-block;

		&:after{
			content: ",";
		}

		&:last-child:after{
			content: "";
		}
	}
}

// WIDGET TAGS
.tags-list{

	a{
		display: inline-block;
		margin: 2px;
		float: left;
		padding: 7px;
		font-size: #{13/$b-font-size}em;
		font-weight: 700;
		color: #000;
		@include border-radius(4px);
		border: 1px solid #000;
		@include transition(background, 0.15s, ease);
		@include transition(color, 0.15s, ease);

		&:hover{
			background: #000;
			color: #fff;
		}
	}
}

// DATA DO POST
.post-data{
	float: right;
	font-size: 1em;
	color: #000;
	height: 32px;
	padding: 8px 0;

	&:before{
	    line-height: 1.4em;
		font-size: #{26/$b-font-size}em;;
		width: 25px;
		height: 32px;
		color: #000;
		margin:-8px 10px 0 0;
		float: left;
	}

}
