// ==========================================================================
// VARIABLES
// ==========================================================================

// BASE PARA FONTS
$b-font-size: 16;

$main-color: #ffde00;
$main-sec-color: #ffd200;
$main-dark-color: #ffc000;

$grey: #c5c5c5;
$grey-hover: #545454;
$dark-grey: #424242;
$dark-grey-hover: #262626;
$blue: #00d2ff;
$blue-hover: #0a8da9;

